h1 p {
	color: #CEF3A9;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
    font-size: 50px;
}

p {
	text-align: center;
	font-size: 30px;
	color: #C5F9AF;
}

body {
	background: #10742B;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.BarChart {
display: grid;
margin: auto;
grid-template-columns: repeat(5, 150px);
border: 10px;
margin-top: 100px;
width: 80%;
height: 500px;
align-items: end;
justify-content: space-evenly;
background-color: #CEF3A9;
border-color: #003500;
text-align: center;
font-size: 20px;

}



.bar-1 {
	grid-column: 1;
    background: #8E2205;
    color: #FFE44B;

}

.bar-1:hover {
	background: #8DCCE0;
	transition: background-color 2s;
}
   /*Hover makes pretty transition from an orange color to a blue color. */

.bar-2 {
	grid-column: 2;
	background: #F82F01;
	color: #FFE44B ;
}

.bar-2:hover {
	background: #7695B3;
	transition: background-color 2s;
}

.bar-3 {
	grid-column: 3;
	background: #FC8215;
	color: #8E2205;
}

.bar-3:hover {
	background: #5D6796;
	transition: background-color 2s;
}

.bar-4 {
	grid-column: 4;
	background: #FDB000;
	color: #8E2205;
}

.bar-4:hover {
	background: #50457D;
	transition: background-color 2s;
}

.bar-5 {
	grid-column: 5;
	background: #FFE44B;
	color: #8E2205;
}

.bar-5:hover {
	background: #4A2761;
	transition: background-color 2s;
}
